:root {
      --onyx:#2e3532;
      --cardinal-red:#B03043;
      --alabaster:#E0E2DB;
      --main-font:'Barlow', 'Akkurat', 'Inter', sans-serif;
      --header:'Unica One', sans-serif;
      --gradient: linear-gradient(to left, #0b51b1, #a090b4 100%);
    }
    
@font-face {
      font-family: Akkurat;
      src: url(../fonts/Akkurat.ttf);
}

@font-face {
      font-family: Bantayog;
      src: url(../fonts/Bantayog-Regular.otf);
}

@keyframes navlinks {
      from {letter-spacing: normal;}
      to {letter-spacing: 2px; }
    }

@keyframes hoverimg {
      from {border-radius: 0px;}
      to {border-radius: 50%;}
}

/* -------------------------- 
|    GENERAL                |
---------------------------*/

*{
      font-family: var(--main-font);
      scroll-behavior: smooth;
}

body {
      /* background-repeat: no-repeat;
      background-size: cover;
      backdrop-filter: blur(25px); */
      font-size: calc(20px+2vw);
}

.pgsect {
      min-height: 70vh;
      /* padding: 10vh 0 0 0; */
}

.container#aboutmeflex, .container#featuredprojflex, .container#allprojects, .container#experiences{
      /* min-width:70vw; */
      /* min-height: 1000px; */
      margin: 10vh auto;
}

a {
      text-decoration: none;
}

h1.modal-title{
      font-family: 'Barlow', sans-serif;
}

/* -------------------------- 
|    FONTS / TEXT           |
---------------------------*/

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Unica One', sans-serif; 
*/



h1 {
      /* padding: 10vh 0 2vh 0; */
      font-family:var(--header);
      font-size: calc(35px + 2.5vw);
      font-weight: bolder;
      /* text-transform: lowercase; */
      color:var(--alabaster);
      text-align: center;
      mix-blend-mode: difference;
      transition: 1.5s ease-in-out all;
}

#aboutmeflex h1, #featuredprojflex h1, #allprojects h1, #experience h1{
      transition: 1.5s ease-in-out all;
      top: 12vh;
      z-index: 900;
}

/* -------------------------- 
|    BOOTSTRAP OVERRIDES    |
---------------------------*/

li.nav-item:hover::after {
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      width: 110%;
      left: 50%;
    }

li.nav-item::after {
      content: "";
      display: block;
      height: 3px;
      border-radius:3px;
      position: relative;
      background: var(--gradient);
      width: 0;
      left: 50%;
      bottom: 2%;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      transition: width 1s ease 0s, right 1s ease 0s;
}

.navbar-nav .nav-link.active{
      transition: width 1s ease 0s, right 1s ease 0s;
      font-weight: bold;
      background-image: linear-gradient(to left, #749cd4, #9782af 100%);
      background-size: cover;
      background-clip: text;
      color: transparent;
}

a.nav-link.active.dropdown-toggle::after{
      transition: width .5s ease 0s, right .5s ease 0s;
      color:#749cd4;
}

#navcontainer {
      max-width:1400px;
      padding:2vh 2vw 0 2vw;
      margin:auto;
      position:sticky;
      top:0px;
      z-index: 1000;
}

.navbar{
      border-radius: 12.5px;
      padding-left:1.5%;
      padding-right:1.5%;
}

.dropdown-menu[data-bs-popper]{
      left:auto;
      transition: 1.5s ease-in-out all;
}

button.navbar-toggler{
      margin:auto;
}

span.badge{
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      font-size: small;
}

.carousel-inner{
      border-radius: 5px;
}

#FeaturedProject > div.carousel-indicators > button{
      height: 3px;
      border-radius: 5px;
      background: var(--gradient);
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transition: 1.5s ease-in-out all;
}

#FeaturedProject > div.carousel-indicators > button.active{
      width:60px;
      transition: 0.5s ease-in-out;
}

a.dropdown-item.active, a.dropdown-item.focus, a.dropdown-item.target{
      background: var(--gradient);
}

/* -------------------------- 
|    HERO SECTION           |
---------------------------*/

#heronavlinks{
      height:20%;
      font-size: calc(10px + .5vw);
      transition: 1s ease;
}

#heronavlinks a, #heronavlinks i.bi-house-fill{
      color: var(--alabaster);
      mix-blend-mode: difference;
      transition: 1s ease;
}

#heronavlinks a:hover, #heronavlinks i.bi-house-fill:hover{
      cursor: pointer;
      color: #749cd4;
      mix-blend-mode: difference;
      transform: scale(1.5);
      transition: 1s ease;
}

#heronavlinks a:hover::after, #heronavlinks i.bi-house-fill:hover::after{
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      width: 25%;
      left: 50%;
    }

#heronavlinks a::after, #heronavlinks i.bi-house-fill::after{
      content: "";
      display: block;
      height: 10%;
      border-radius: 3px;
      position: relative;
      background: var(--gradient);
      width: 0;
      left: 50%;
      bottom: -5%;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      transition: width 1s ease 0s, right 1s ease 0s;
}

#herolocationsect{height:30%}
#herotitle{height:50%}

.coverpage.container-fluid{
      /* display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */
      transition: 1.5s ease-in-out all;
      height:100vh;
      width:100%;
      padding: 0px!important;
      /* border-radius: 0 0 5vw 5vw; */
      background: url(../images/jigar-panchal-ME1_AXA5lAM-unsplash.jpg);
      background-position: center;
      background-size: cover;
}

#title a{
      font-family: 'Bantayog';
      font-size: calc(30px + 10.5vw);
      letter-spacing: 5px;
      height:max-content;
      background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/f7452684690619.5d65284163b84.gif);
      /* background: url(https://images.squarespace-cdn.com/content/v1/613141dcb492bf4783404f01/8deb4b5d-b944-4126-a71d-90cb9d39fd1c/Documentation_2SPEED.gif);  */
      background-size: cover;
      background-position: center;
      background-clip: text;
      color: transparent;
      mix-blend-mode: difference;
      animation: a_title linear;
      animation-timeline: view();
      transition: 1.5s ease-in-out all;
      text-wrap: nowrap;
      overflow: hidden;
}

#title a:hover{
      cursor: pointer;
      color: var(--alabaster);
      mix-blend-mode: difference;
      transition: 1.5s ease-in-out all;
} 


@keyframes a_title {
      from  {letter-spacing: 5px;}
      to {letter-spacing: 105px; opacity: 50%;}
}

/* -------------------------- 
|    PROJECT CARDS          |
---------------------------*/


/* -------------------------- 
|    PARRALAX               |
---------------------------*/

.parallax {
      position: relative;
      z-index: 0;
      min-height: 65vh;
      display: grid;
      grid-template-areas: 
      "stack";
}

.parallax > .stack {
      grid-area: stack;
      animation: parallax linear;
      animation-timeline: scroll();
}

@keyframes parallax {
      to {
        transform: 
          translateY(calc(var(--parallax-speed) * 200px));
      }
}